# Python Basics

In [1]:
print("Hllo World")

Hllo World

## veriables

In [3]:
name= "Shebbir" #str
age=32
is_student= True
height=5.9
print("Name:",name)
print("Age:",age)
print("Is-Student:",is_student)
print("Height:",height)

Name: Shebbir
Age: 32
Is-Student: True
Height: 5.9

##Data Structure (List, Touple, Dictionery, Set)

In [7]:
fruits=["apple","banana","cherry"]

print(fruits[-3]) #right to left

apple

# Assignment for 2nd Lecture

In [8]:
# 1) Create variables for your name, age, and favorite color, then print them with description
name = "Abu Sadik"
age = 23
favorite_color = "Black"

print("Name:", name)
print("Age:", age)
print("Favorite color:", favorite_color)


# 2) Create one variable of each type and use type() to verify its type
an_int = 10
a_float = 3.14
a_str = "Bangladesh"
a_bool = True
a_list = [1, 2, 3]

print(type(an_int))    # <class 'int'>
print(type(a_float))   # <class 'float'>
print(type(a_str))     # <class 'str'>
print(type(a_bool))    # <class 'bool'>
print(type(a_list))    # <class 'list'>


# 3) Calculate the area and perimeter of a rectangle with length 7 and width 5
length = 7
width = 5

area = length * width
perimeter = 2 * (length + width)

print("Area:", area)
print("Perimeter:", perimeter)


# 4) Create a list of 5 Bangladeshi foods, then access the first and last elements
foods = ["Biryani", "Hilsa Fish", "Panta Bhat", "Fuchka", "Mishti Doi"]

print("First food:", foods[0])
print("Last food:", foods[-1])


# 5) Create a list of 5 numbers, add a new number, remove one, and then sort the list
numbers = [12, 5, 9, 20, 3]
numbers.append(15)     # add new number
numbers.remove(9)      # remove one number (9)
numbers.sort()         # sort ascending

print("Updated numbers:", numbers)


# 6) Create a dictionary about yourself with at least 4 key-value pairs
my_info = {
    "name": "Abu Sadik",
    "country": "Bangladesh",
    "role": "Student/Researcher",
    "favorite_color": "Black",
}

print("My dictionary:", my_info)


# 7) Create a tuple with the latitude and longitude of a famous place in Bangladesh
# Example: National Martyrs' Memorial (Savar) approx coordinates
savar_memorial = (23.9156, 90.2591)

print("Savar Memorial (lat, lon):", savar_memorial)


# 8) Create two sets of colors and find their union and intersection
set_a = {"red", "green", "blue"}
set_b = {"blue", "black", "white"}

print("Union:", set_a.union(set_b))
print("Intersection:", set_a.intersection(set_b))


# 9) Function that takes a string and prints the first and last character

def first_and_last_char(text):
    if len(text) == 0:
        print("Empty string!")
    else:
        print("First character:", text[0])
        print("Last character:", text[-1])

user_input = input("Enter a word/text: ")
first_and_last_char(user_input)



# 10) Function that takes a string and converts it to uppercase
def to_uppercase(text):
    return text.upper()

print(to_uppercase("multimedia university"))

Name: Abu Sadik
Age: 23
Favorite color: Black
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
Area: 35
Perimeter: 24
First food: Biryani
Last food: Mishti Doi
Updated numbers: [3, 5, 12, 15, 20]
My dictionary: {'name': 'Abu Sadik', 'country': 'Bangladesh', 'role': 'Student/Researcher', 'favorite_color': 'Black'}
Savar Memorial (lat, lon): (23.9156, 90.2591)
Union: {'green', 'red', 'black', 'white', 'blue'}
Intersection: {'blue'}
First character: B
Last character: h
DHAKA UNIVERSITY

In [13]:
def add(a,b):
  return a+b
x= int (input("x:"))
y= int (input("y:"))
print(add(x,y))

x:5
y:7
12

In [17]:
def first_and_last_char(text):
    if len(text) == 0:
        print("Empty string!")
    else:
        print("First character:", text[0])
        print("Last character:", text[-1])

user_input = input("Enter a word/text: ")
first_and_last_char(user_input)

First character: b
Last character: h